@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary: #2962ff;
  --on-primary: #ffffff;
  --background-surface: #fffefb;
  --secondary-background: #f7f9fa;
}

body {
  background: var(--background-surface);
  font-family: 'Poppins', "Open Sans", sans-serif;
}

.app-container {
  margin: 0 1rem;
}

.hero {
  background-color: var(--primary);
  color: var(--on-primary);
  font-size: 1.8em;
  border-radius: 2em;
}

.hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 6rem auto 2rem auto;
  padding: 1em 0.2rem;
}

.hero-title {
  flex: 0 1 20ch;
  line-height: 1.1;
  margin: auto 1rem;
}

.hero-img {
  display: flex;
}

.hero-img img {
  border-radius: 5rem;
  margin: auto;
}

.main-paragraph {
  font-size: 1.125em;
  line-height: 1.5;
  max-width: 80ch;
}

.roles p {
  font-size: 1.125em;
}

.roles h4 {
  font-size: 1.25em;
}

.roles {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  flex: 0 1 20rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  text-align: center;
}

.card {
  border-radius: 1.5rem;
  box-shadow: 0 0 5px rgba(0,0,0,70%);
}

.card h3 {
  margin: 0;
  background: var(--primary);
  color: var(--on-primary);
  padding: 1rem;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

.card p {
  padding: 1rem;
  line-height: 1.5;
}

.card :last-child {
  margin-bottom: 2rem;
}

.roles,
.journey {
  margin-top: 5rem;
}

.intro-line {
  text-align: center;
}

.story {
  background: var(--secondary-background);
  padding: 1.5em .5em;
  margin: 2rem 0;
}

.content p {
  line-height: 2;
}

ul.pills {
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
  list-style: none;
  margin: 1.5rem 0;
  padding: 0;
  max-width: 30rem;
}

.pills .pill {
  padding: .2rem .8rem;
  border-radius: 2rem;
  font-size: .9em;
  font-weight: 500;
  background: var(--primary);
  color: var(--on-primary);
}

.header h3 {
  font-size: 2em;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
}

.header time {
  display: block;
}

@media only screen and (min-width: 1200px) {
  .app-container {
    margin: 0 9rem;
  }
  .main-paragraph {
    margin-left: 0.8rem;
  }
  .hero {
    font-size: 2em;
    padding: 1em;
  }
  .card {
    min-height: 30rem;
  }
  .story {
    padding: 1.5rem;
  }
}
